{% extends 'accounts/main.html' %}

{% load static %}

{%block content%}
<br>

<div class ="row">
    <div class="col-md-6">
        <div class ="card card-body">
            <p>Are you sure you want to delte "{{item}}"?</p>
            
            <form action = "{%url 'delete_order' item.id%}"method="POST"> 
                <a class="btn btn-war"href= {% url 'home' %}> Cancel</a> 
            
                {% csrf_token %}
                <input class="btn btn-danger" type = "submit" name ="Confirm">
            
            </from>
        </div>
    </div>
</div>

{%endblock%}